.animatedImage {
    width: 64px;
    height: 64px;
    image-rendering: pixelated;
    position: absolute;
    display: block;
    user-select: none;
    z-index: 1;
    cursor: no-drop;
}

.bubble {
    top:0;
    position: absolute;
    width: 220px;
    background: #7045af;
    border-radius: 40px;
    padding: 20px;
    text-align: center;
    color: #fff;
    z-index: 4;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
    transition: opacity 0.2s;
    opacity: 1;
}

.bubble__text {
    font-size: 21px;
    font-family: 'Freckle Face', cursive;
    text-shadow: 0px 4px 3px#182952;
}

.bubble--hidden {
    opacity: 0;
    pointer-events: none;
}

.bubble--left:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid #7045af;
    border-right: 12px solid transparent;
    border-top: 12px solid #7045af;
    border-bottom: 20px solid transparent;
    left: 32px;
    bottom: -24px;
}

.bubble--right:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-right: 24px solid #7045af;
    border-left: 12px solid transparent;
    border-top: 12px solid #7045af;
    border-bottom: 20px solid transparent;
    left: 165px;
    bottom: -24px;
}

@media screen and (max-width: 1024px) {
    .animatedImage {
        display: none;
    }
    .bubble {
        display: none;
    }
}
