.animatedImage {
    width: 64px;
    height: 64px;
    image-rendering: pixelated;
    position: absolute;
    display: block;
    user-select: none;
}

@media (max-width: 767px) {
    .animatedImage {
        display: none;
    }
}