/* footer.css */

.footer {
    margin: 50px 0 0 0;
    padding: 20px;
    border-radius: 15px 15px 0px 0px;
    border: 0px;
    background-color: #8CA239;
    color: #EAFAB0;
    font-family: 'Signika', sans-serif;
    text-align: center;
    font-size: 15px;
    font-style: italic;
}