/* global.css */
/* 
font-family: 'Comfortaa', cursive;
font-family: 'Freckle Face', cursive;
font-family: 'Kelly Slab', cursive;
font-family: 'Russo One', sans-serif;
font-family: 'Staatliches', cursive;
font-family: 'VT323', monospace;
*/

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

*, ::after, ::before {
    box-sizing: inherit;
    -webkit-font-smoothing: inherit;
}

body {
    background-color: #182952;
    margin: 0px;
}

a {
    text-decoration: none;
}