.main {
    background-color: #2b3595F9;
    border-radius: 10px;
    box-shadow: #000 0px 0px 10px;
    color: #fff;
    margin: 70px auto 50px auto;
    min-height: 500px;
    padding: 25px;
    position: relative;
    width: 900px;
    z-index: 2;    
}

.main__categoryHeader {
    background-color: #e14594EE;
    padding: 15px;
    text-align: center;
    font-family: 'Staatliches', cursive;
    letter-spacing: 1px;
    border-radius: 10px;
}

.main__subCategoryHeader {
    background-color: #3cc3a5;
    padding: 10px;
    text-align: center;
    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;
    border-radius: 10px;
}

@media (max-width: 1024px) {
    .main {
        border-radius: 10px;
        box-shadow: #000 0px 0px 5px;
        color: #fff;
        margin: 70px 0 50px 0;
        padding: 25px;
        position: static;
        width: 100%;
    }
}