.main {
    width: 900px;
    min-height: 500px;
    background-color: #2b3595;
    margin: 70px auto 50px auto;
    position: relative;
    z-index: 2;
    border-radius: 10px;
    box-shadow: #000 0px 0px 10px;
    opacity: 0.5;
}