.menu {
    display: flex;
    height: 80px;
    border: 0;
    padding: 20px;
    flex-wrap: nowrap;
    background-color: #2b3595;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: #000 0px 0px 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 5;
    user-select: none;
    align-items: flex-start;
}

.menu__item {
    flex-basis: 160px;
    font-family: 'Staatliches', cursive;
    background-color: #7045af;
    display: block;
    min-width: 160px;
    text-align: center;
    color: #FFF;
    padding: 10px;
    border-radius: 10px;
    box-shadow: #fff 0px 0px 10px;
    font-size: 17px;
    position: relative;
    z-index: 2;
}

.menu__item:hover {
    background-color: #e14594CC;
    box-shadow: #fff 0px 0px 20px;
    cursor: pointer;
}


.menu__icon {
    height: 25px;
    padding-right: 10px;
    vertical-align: sub;
}

.menu__subList {
    list-style: none;
}

.menu__subList--hidden {
    display: none;
}

.menu__subLink {
    padding: 10px;
    border-radius: 4px;
}

.menu__subLink:hover {
    background-color: #7045af;

}