.menu {
    border: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

.menu__bar {
    align-items: flex-start;
    background-color: #2b3595;
    border: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: #000 0px 0px 10px;
    display: flex;
    height: 90px;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 20px 0;
    width: 100%;
    transition: all 1s;
}

.menu__item {
    background-color: #7045af;
    border-radius: 10px;
    box-shadow: #fff 0px 0px 10px;
    color: #FFF;
    display: block;
    flex-basis: 170px;
    font-family: 'Staatliches', cursive;
    font-size: 17px;
    padding: 10px;
    position: relative;
    text-align: center;
    transition: all 0.5s;
    user-select: none;
    z-index: 2;
}

.menu__item:hover {
    background-color: #e14594EE;
    box-shadow: #fff 0px 0px 20px;
    cursor: pointer;
}

.menu__icon {
    height: 25px;
    margin-right: 10px;
    vertical-align: sub;
}

.menu__subList {
    list-style: none;
}

.menu__subList--hidden {
    display: none;
}

.menu__link {
    border-radius: 4px;
    color: #fff;
    display: block;
    padding: 5px;
    transition: all 0.3s;
}

.menu__link:hover {
    background-color: #3cc3a5;
}

.menu__arrow {
    color: #e14594EE;
    margin: 5px auto;
    font-size: 30px;
    background-color: #7045afA0;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 10px;
    border-radius: 50%;
    user-select: none;
    display: none;
}

.menu__arrow:hover {
    color: #3cc3a5;
    background-color: #e14594EE;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .menu {
        top: -150px;
    }

    .menu--displayed {
        top: 0px;
    }

    .menu__bar {
        justify-content: space-evenly;
        height: 150px;
        width: 100%;
    }

    .menu__item {
        flex-basis: 85px;
        padding: 10px;
        font-size: 15px;
        box-shadow: #fff 0px 0px 5px;
    }

    .menu__subList {
        padding: 0;
    }

    .menu_link {
        margin-bottom: 15px;
    }

    .menu__icon {
        display: block;
        margin: 10px auto;
        padding: 0px;
    }

    .menu__arrow {
        display: block;
    }
}

@media (max-width: 480px) {

    .menu {
        top: -85px;
    }

    .menu--displayed {
        top: 0px;
    }

    .menu__bar {
        height: 85px;
        justify-content: space-evenly;
        width: 100%;
        left: 1%;
    }

    .menu__item {
        flex-basis: 40px;
        padding: 5px;
        font-size: 15px;
        box-shadow: #fff 0px 0px 5px;
    }

    .menu__subList {
        padding: 0;
    }

    .menu_link {
        margin-bottom: 15px;
    }

    .menu__icon {
        margin: 0;
    }

    .menu__categoryText {
        display: none;
    }
}