.topImage {
    background-color: #7045af;
    background-image: url(../img/top/monk.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    box-shadow: #000 0px 0px 10px;
    height: 400px;
    margin: 110px auto 30px auto;
    max-width: 1200px;
    min-width: 1024px;
    padding: 0;
    position: relative;
    transition: all 1.5s;
    z-index: 2;
}

.topImage__cover {
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background-image: url(../img/top/dummy2.jpg);
    background-position: center;
    background-size: inherit;
    transition: all 1.5s;
    filter: blur(70px);
    opacity: 0;
}

.topImage__cover--on {
    filter: blur(0px);
    opacity: 1;
}

.topImage__text {
    bottom: 70px;
    color: white;
    display: block;
    font-family: 'Freckle Face', cursive; 
    font-size: 50px;
    left: 50px;
    margin: 0;
    position: relative;
    text-shadow: 2px 4px 4px#182952;
    transition: all 1ms;
    user-select: none;
    width: 300px;
}

@media (max-width: 1024px) {
    .topImage {
        min-width: 480px;
        height: 400px;
        width: 100%;
        margin: 70px 0 0 0;
    }

    .topImage__text {
        font-size: 35px;
    }
}

@media (max-width: 480px) {
    .topImage {
        margin: 70px 0 0 0;
        min-width: 200px;
        height: 200px;
    }

    .topImage__text {
        font-size: 25px;
        width: 200px;
        bottom: 50px;
    }
}