.topImage {
    max-width: 1200px;
    min-width: 1024px;
    height: 400px;
    background-color: #7045af;
    margin: 110px auto 30px auto;
    margin: auto;
    margin-top: 110px;
    position: relative;
    z-index: 2;
    border-radius: 10px;
    box-shadow: #000 0px 0px 10px;
    background-image: url(../img/top/monk.jpg);
    padding: 0;
}

.topImage__cover {
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background-image: url(../img/top/dummy2.jpg);
    transition: all 1.5s;
    filter: blur(70px);
    opacity: 0;
}

.topImage__cover--on {
    filter: blur(0px);
    opacity: 1;
}

.topImage__text {
    position: relative;
    bottom: 70px;
    left: 50px;
    display: block;
    color: white;
    font-size: 50px;
    font-family: 'Freckle Face', cursive; 
    text-shadow: 2px 4px 4px#182952;
    user-select: none;
    width: 900px;
}